
<div id="messages-wraper">

</div>

<form id="message-form">
<input type="text" name="message" id="message"  placeholder="put a text here" />
<button type="submit" id="send-message-btn">submit</button>
</form>
