<div class="username-wrap">
    <p>Enter your Username</p>
    <p id="error-notice"></p>
    <form id="set-username">
        <input type="text" id="username" placeholder="Username">
        <button type="submit">Send</button>
    </form>
</div>

<div class="chat-content">
    <div id="messages-wraper">

    </div>
    <form id="message-form">
        <input type="text" name="message" id="message"  placeholder="put a text here" />
        <button type="submit" id="send-message-btn">submit</button>
    </form>
</div>
<div class="users-list" id="users-list"></div>
